.homeBlock {
  margin-bottom: 30px;
}

.blogContainer {
  border: 1px solid #E73B37;
  padding: 20px 25px;
  border-radius: 13px;
  height: 600px;
  overflow-y: auto;
}

.onePost {
  border: 1px solid #E73B37;
  border-radius: 13px;
  margin-bottom: 14px;
}

.postHeader {
  display: flex;
  justify-content: space-between;
  background: #E73B37;
  padding: 15px 25px;
  border-radius: 10px 10px 0 0 ;
  color: #fff;
}

.postDate {
  text-align: right;
  margin: 0;
  font-size: 14px;
}

.postBody {
  padding: 15px 25px;
}

.postText {
  font-size: 18px;
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 0 0 15px ;
}

.postText img {
  width: 25px;
}

.postBtn {
  padding: 5px 15px;
  background-color: #E73B37;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 10px;
  cursor: pointer;
  margin-right: 10px;
}

.postBtnsContainer {
  display: flex;
  align-items: center;
  gap: 10px
}

.additionalPostBtns {
  border: 1px solid #E73B37;
  border-radius: 7px;
  background: none;
  cursor: pointer;

}

.additionalPostImgs {
  width: 20px;
}

