.header {
  background: #f1f1f1;
  color: #e73b37;
  margin-bottom: 30px;
}

.container {
  max-width: 1210px;
  margin: 0 auto;
  padding: 0 15px;
  position: relative;
}

.headerContainer {
  display: flex;
  padding: 15px 0;
  justify-content: space-between;
  align-items: center;
}

.logo {
  text-decoration: none;
  color: #e73b37;
  font-weight: 800;
  font-size: 24px;
  display: flex;
  align-items: center;
  transition: color 0.3s ease;
}

.logoImgContainer {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #f1f1f1;
  display: flex;
  justify-content: center;
  align-items: center;
  transition:
    background-color 0.3s ease,
    filter 0.3s ease;
}

.logoImg {
  width: 60px;
  transition: filter 0.3s ease;
}

.logo:hover .logoImgContainer {
  background-color: #ffc855;
}

.logo:hover .logoImg {
  filter: brightness(1.8);
}

.navbar {
  list-style: none;
  display: flex;
  gap: 15px;
  font-size: 16px;
}

.navLink {
  text-decoration: none;
  color: #e73b37;
  &:hover {
    text-decoration: underline;
  }
}

.active {
  transition: 0.3s;
  font-weight: 700;
  color: #ffc855;
  text-decoration: underline;
}
